$icomoon-font-path: "/assets/fonts/icomoon" !default;

$icon-sunrise: "\e900";
$icon-sun: "\e901";
$icon-moon: "\e902";
$icon-sun2: "\e903";
$icon-windy: "\e904";
$icon-wind: "\e905";
$icon-snowflake: "\e906";
$icon-cloudy: "\e907";
$icon-cloud: "\e908";
$icon-weather: "\e909";
$icon-weather2: "\e90a";
$icon-weather3: "\e90b";
$icon-lines: "\e90c";
$icon-cloud2: "\e90d";
$icon-lightning: "\e90e";
$icon-lightning2: "\e90f";
$icon-rainy: "\e910";
$icon-rainy2: "\e911";
$icon-windy2: "\e912";
$icon-windy3: "\e913";
$icon-snowy: "\e914";
$icon-snowy2: "\e915";
$icon-snowy3: "\e916";
$icon-weather4: "\e917";
$icon-cloudy2: "\e918";
$icon-cloud3: "\e919";
$icon-lightning3: "\e91a";
$icon-sun3: "\e91b";
$icon-moon2: "\e91c";
$icon-cloudy3: "\e91d";
$icon-cloud4: "\e91e";
$icon-cloud5: "\e91f";
$icon-lightning4: "\e920";
$icon-rainy3: "\e921";
$icon-rainy4: "\e922";
$icon-windy4: "\e923";
$icon-windy5: "\e924";
$icon-snowy4: "\e925";
$icon-snowy5: "\e926";
$icon-weather5: "\e927";
$icon-cloudy4: "\e928";
$icon-lightning5: "\e929";
$icon-thermometer: "\e92a";
$icon-compass: "\e92b";
$icon-none: "\e92c";
$icon-Celsius: "\e92d";
$icon-Fahrenheit: "\e92e";
$icon-location2: "\e948";
