// Some shades of grey
$superLight:    #f7f7f7;
$basicLight:    #d8d8d8;
$light:         #eee;
$lighterGrey:   #aaa;
$lightGrey:     #999;
$grey:          #666;
$darkGrey:      #333;

// Main colors
$darkBlue:      #3a3e4e;
