.Weather {
    // Location navigatioon
    @include e(navigation) {
        position: fixed;
        bottom: 0;
        left: 0;

        color: $grey;
        text-shadow: none;

        width: 100%;

        @include mobile {
            position: static;
            margin-left: -15px;

            overflow-x: scroll;
            white-space: nowrap;
            width: 110%;
        }

        ul {
            margin: 0;
            display: flex;
            flex-direction: row;

            @include mobile {
                display: block;
            }
        }

        @include e(item) {
            background: white;

            text-align: center;
            font-size: 22px;
            font-weight: lighter;
            line-height: normal;

            padding: 5px 25px;

            flex-grow: 1;
            flex-basis: 0;

            cursor: pointer;

            @include mobile {
                display: inline-block;
                width: 50%;
                white-space: normal;
            }

            &.is-selected {
                color: white;
                background: none;
                text-shadow: $base-text-shadow;
            }

            @include e(city) {
                font-size: 24px;
                @include mobile {
                    font-size: 15px;
                    white-space: nowrap;
                }
            }

            .Weather-icon {
                position: relative;
                right: 5px;
                top: 4px;

                font-size: 125%;

                @include mobile {
                    top: 2px;
                }
            }

            @include e(temp) {
                font-size: 62px;
                margin: 0;

                @include mobile {
                    font-size: 48px;
                    margin: 20px 0;
                }

                @include e(celsius) {
                    position: relative;
                    top: -9px;
                    margin-left: -25px;
                }
            }

            @include e(wind) {
                text-align: right;
                @include mobile {
                    text-align: center;
                }
            }
        }
    }
}
