.app-container {
  position: relative;
  height: 100%;
  z-index: 1;

  background-color: $superLight;
  background-position: fixed;
  background-size: cover;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }

  .container {
    position: relative;
    z-index: 2;
  }

  &.selected-uk {
    background-image: url('/assets/img/bg-london.jpg');
  }

  &.selected-nl {
    background-image: url('/assets/img/bg-ams.jpg');
  }

  &.selected-fr {
    background-image: url('/assets/img/bg-paris.jpg');
  }

  &.selected-de {
    background-image: url('/assets/img/bg-berlin.jpg');
  }

  &.selected-se {
    background-image: url('/assets/img/bg-stockholm.jpg');
  }
}
