body,
html {
    min-height: 100%;
    height: 100%;

    width: 100%;
    max-width: 100%;

    overflow-x: hidden;

    @include mobile {
        height: auto;
    }
}

body {
    background-color: $darkBlue;

    font-size: $base-font-size;
    font-family: $base-font-family;
    font-weight: $regular;
    line-height: $base-line-height;
    color: $grey;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    img {
        max-width: 100%;
    }
}
